/* Remove defualt margins, padding and borders  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  background: url(../images/fooo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 70px;
}

.quiz-area-container {
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px;
  border: 2px solid black;
  margin-top: 130px;
}

.questionAndBtn-container {
  padding: 20px;
  text-align: center;

}


#options-btn {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
}


.btn {
  background: #4CAF50;
  color: #222;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  font-size: large;
  padding: 10px;
  margin: 10px 0;
  border: none;
  font-weight: bold;
  transition: all 0.3s;
}


.btn:active([disabled]) {
  cursor: not-allowed;
}

.btn:not([disabled]) {
  cursor: pointer;
}

.btn:not([disabled]):hover {
  color: black;
  border: none;
}

#next-btn {
  background-color: #4CAF50;
  color: white;
  font: bold;
  width: 100px;
  padding: 10px;
  margin: 20px auto;
  border-radius: 15px;
  cursor: pointer;
  display: none;
  border: none;
}

#next-btn:hover {
  background-color: green;
}


.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}

#question {
  display: none;
}

/* home page css */

.start-game-container {
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px;
  border: 2px solid black;
  margin-top: 130px;
  height: 400px;
  text-align: center;
}

.start-game-container h1 {
  font-size: 36px;
  margin-top: 60px;
}

.start-game-container p {
  font-size: 18px;
  margin-bottom: 30px;
  padding-top: 30px;
}

.start-game-container a {
  text-decoration: none;
}

.start-game-container button {
  display: block;
  margin: 10px auto;
  font-size: 25px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #4CAF50;
  transition: background-color 0.3s;
}

.start-game-container button:hover {
  background-color: darkgreen;
}





/* game mode html */

.pick-game-mdoe-container {
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px;
  border: 2px solid black;
  margin-top: 130px;
  height: 400px;
  text-align: center;
}


/* timer */

#countdown {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 5px 10px 18px;
  border-radius: 20px;
  width: 80px;
  height: 50px;
  margin: 0 auto;
  background: #4CAF50;
  color: #fff;
  display: none;
}



/* how to play */


.how-to-play h1 {
  padding-bottom: 14px;
}

.how-to-play p {
  font-weight: bold;
  padding-bottom: 20px;
}

.how-to-play {
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px;
  border: 2px solid black;
  margin-top: 130px;
  height: 440px;
  text-align: center;
  font-size: 15px;
  position: relative;
}

.how-to-play button {
  display: block;
  margin: 26px auto;
  font-size: 15px;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #4CAF50;
  transition: background-color 0.3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.how-to-play button:hover {
  background-color: darkgreen;
}

.how-to-play a {
  text-decoration: none;
}


.game-mode-btns {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.game-mode-btns:hover {
  background-color: #45a049;
}

.game-mode-btns:focus {
  outline: none;
}

.game-mode-btns:active {
  background-color: #3e8948;
}


/* .mode-con {
  padding: 117.5px;

} */





/* MEDIA QUERIES */


/* Index(Home Page) Media Queries */
@media (max-width: 615px) {
  .start-game-container h1 {
    margin-top: 30px;
  }

  .start-game-container p {
    font-size: 16px;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  .start-game-container button {
    font-size: 20px;
    padding: 8px 16px;
  }
}


/* How To Play Media Queries */

@media (max-width: 600px) {
  .how-to-play {
    font-size: 12px;
  }
}
  @media (max-width: 380px) {
    .how-to-play {
      font-size: 10px;
    }
  }

/* Game mode Media Queries */
@media (max-width: 540px) {
}

