
/* Remove defualt margins, padding and borders  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: ;
    background-image: url(/assets/images/);
}
 /* logo */
.logo {
    height: 70px;
}

/* Games Area Container */

.quiz-area-container {
    max-width: 600px;
    padding: 20px;
    background-color: grey;
    border: 4px solid black;
    border-radius: 20px;
    margin: 0 auto;
}


 /* styling for where the question will go */

 .question-container {
    margin-bottom: 100px;
 }


 .question-logo {
    height: 200px;
    margin-left: 180px;
 }




