
/* Remove defualt margins, padding and borders  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: ;
    background: lightcoral;
}

.logo {
  height: 70px;
}

.quiz-area-container{
  width: 90%;
  max-width: 600px;
  background-color:  #fff;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px;
  border: 2px solid black;
}

.questionAndBtn-container{
  padding: 20px;
}


.options-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top:30px
  }


  .btn{
    background: #73A5C6;
    color: #222;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-size: large;
    padding: 10px;
    margin: 10px 0 ;
    border: 2px solid #528AAE;
    font-weight: bold;
  }
  /* .btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

}

btn {
  padding: 10px;
  background-color: #73A5C6;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  font-size: large;
  font-weight: bold;
  border: 1px solid #528AAE; */
























/* Games Area Container */


 /* styling for where the question will go */

 /* .question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
 } */

/* styling for the question logo */


/* stlying the options container */

/* .options-btn {
    display: grid;
    used help for this */
    /* grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top:30px; */
/* } */

/* styling the buttons */

/* .btn {
    padding: 10px;
    background-color: #73A5C6;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-size: large;
    font-weight: bold;
    border: 1px solid #528AAE;

}

.btn:hover {
    border-color:  black;
}


.btn.correct {
    background-color: green;
    color: black;
}

.btn.wrong {
    background-color: red;
} */

/* next questions btn */
/* .next-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
  }
  
  .next-container button {
    padding: 10px 40px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  } */

  /* score area container */

  /* .score-area-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px; */

  }